[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
	lg = log --pretty=format:'%C(bold red)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(yellow)%ad%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=human --decorate=full
	cleanup = !git reset --hard && git clean -df
	select = "!git checkout $(git branch | grep -v \"^\\*\" | fzf)"
	delete = "!git branch -d $(git branch | grep -v \"^\\*\" | fzf)"
	stashl = stash list --oneline
	stashm = !git stash push --include-untracked -m
	stasha = stash apply
	stashp = stash pop
	stashc = stash clear
	restorea = restore ./
	restoreb = "!git restore ./ --source=$(git branch | grep -v \"^\\*\" | fzf)"
	st = status -s --branch
	aa = add -A
